<body>
<div class="container">
  <div class="row" style="padding:20px 0px;margin-bottom:20px;border-bottom:2px solid #000;">
    <div class="col-sm-12">
      <h3>
          AKOYUR.ZELF | <a [routerLink]="['/client-list']">Клиенты</a> | <a [routerLink]="['/client-add']">Новый клиент</a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</body>
