﻿body {
  font-size: 14px;
}

.buttons-area{
  margin-top:10px;
  margin-bottom:10px;
  padding-top:20px;
  padding-bottom:20px;
  border-top: 2px solid #eaeaea;
}

.form-area {
  margin-top:10px;
  margin-bottom:10px;
  padding-top:20px;
  padding-bottom:20px;
}

.header-area {
  margin-top:10px;
  margin-bottom:10px;
  padding-left:20px;
  border-left: 10px solid #C9E7FF;
  border-bottom: 1px solid #C9E7FF;
}

.commands-area {
  margin-top:10px;
  margin-bottom:10px;
  padding-left:20px;
  border-left: 10px solid #C9FFCB;
  border-bottom: 1px solid #C9FFCB;
  color: #669767;

  a {
    color: #669767;
  }
}
