﻿<div class="row header-area">
  <div class="col-12">
    <div class="row">
      <div class="col-11">
        <div class="row">
          <h3>Клиенты &rarr; Редактировать</h3>
        </div>
      </div>
      <div class="col-1" *ngIf="isSubmitting || isLoading || isDeleting">
        <div class="spinner-border m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading">
  Загрузка...
</div>
<div class="row form-area" *ngIf="!onOnInitError && !isLoading">
  <div class="col-sm-12">
    <client-form [(client)]="client" [(errors)]="errors" [(isSubmitting)]="isSubmitting"></client-form>
  </div>
</div>
<div class="row" *ngIf="onSubmitError && !isLoading">
  <div class="alert alert-danger" role="alert">
    {{onSubmitError}}
  </div>
</div>
<div class="row" *ngIf="onOnInitError && !isLoading">
  <div class="alert alert-danger" role="alert">
    {{onOnInitError}}
  </div>
</div>
<div class="buttons-area" *ngIf="!onOnInitError && !isLoading">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <button routerLink="/client-list" class="btn btn-light" [disabled]="isSubmitting">Отмена</button>
        &nbsp;
        <button class="btn btn-primary" type="button" (click)="updateMerchant()" *ngIf="!isSubmitting">
          Сохранить
        </button>
        <button class="btn btn-primary" type="button" disabled *ngIf="isSubmitting">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Сохранение...
        </button>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <div class="form-group">
        <button class="btn btn-danger" type="button" (click)="deleteClient()" *ngIf="client && client.id && !client.isDeleted && !isLoading && !isDeleting">
          Удалить
        </button>
        <button class="btn btn-danger" type="button" disabled *ngIf="isDeleting">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Удаление...
        </button>
      </div>
    </div>
  </div>
</div>
