<div class="row">
  <div class="col-sm-12 col-md-6">
    <div *ngIf="client.id">
      <strong>Идентификатор:</strong>
      {{client.id}}
    </div>
    <div *ngIf="client.id">
      <strong>Дата регистрации:</strong>
      {{client.createdAt}}
    </div>
    <div *ngIf="client.id">
      <strong>Дата последнего обновления:</strong>
      {{client.updatedAt}}
    </div>
    <br/>
    <div class="form-group">
      <label>Имя:</label>
      <input type="text"
             [maxLength]="64"
             (keypress)="keypress($event)"
             [(ngModel)]="client.name" class="form-control"
             [readOnly]="isSubmitting"/>
      <div class="alert alert-danger" role="alert" *ngIf="errors && errors['name']">
        {{errors['name']}}
      </div>
    </div>
  </div>
</div>
