﻿<div class="row header-area">
  <div class="col-12">
    <div class="row">
      <div class="col-11">
        <div class="row">
          <h3>Клиенты &rarr; Создать</h3>
        </div>
      </div>
      <div class="col-1" *ngIf="isSubmitting">
        <div class="spinner-border m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row form-area">
  <div class="col-sm-12">
    <client-form [(client)]="client" [(errors)]="errors" [(isSubmitting)]="isSubmitting"></client-form>
  </div>
</div>
<div class="row" *ngIf="onSubmitError">
  <div class="alert alert-danger" role="alert">
    {{onSubmitError}}
  </div>
</div>
<div class="row buttons-area">
  <div class="form-group">
    <button routerLink="/client-list" class="btn btn-light" [disabled]="isSubmitting">Отмена</button>&nbsp;
    <button class="btn btn-primary" type="button" (click)="addClient()" *ngIf="!isSubmitting">
      Сохранить
    </button>
    <button class="btn btn-primary" type="button" disabled *ngIf="isSubmitting">
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Сохранение...
    </button>
  </div>
</div>
